In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('2018-all-emotions-annotations-full (1).csv')

In [4]:
df.head()

,_unit_id,_id,_worker_id,emotion,emotionsecondary,id,tweet
0,1423360081,2963405527,43988597,joy,Slove\nSoptimism,40651,When tears r inappropriate: 'This day is holy ...
1,1423360081,2963963392,43913883,joy,Soptimism,40651,When tears r inappropriate: 'This day is holy ...
2,1423360081,2964040591,36841019,sadness,Snone,40651,When tears r inappropriate: 'This day is holy ...
3,1423360081,2964117066,35903629,neutral,Snone,40651,When tears r inappropriate: 'This day is holy ...
4,1423360081,2964130594,43115723,optimism,Santicipation\nSoptimism,40651,When tears r inappropriate: 'This day is holy ...

In [5]:
len(df['_worker_id'].unique())

183

In [8]:
df.groupby('_worker_id').size().describe()

count     183.000000
mean      476.382514
std      1079.239464
min        10.000000
25%        10.000000
50%        40.000000
75%       241.500000
max      4670.000000
dtype: float64

In [9]:
len(df)

87178